*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  /* background-image:url(./images/ifondo.png) ;
  background-size: cover;
  background-repeat: no-repeat; */
  background: #780206;  
  background: -webkit-linear-gradient(to right, #061161, #780206); 
  background: linear-gradient(to right, #061161, #780206); 
}

h2.Titulo {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 15px;
}
.Logo{
  width: 10%;
  height: auto;
}


.Logo-contenedor{
  width: 10%; 
  height: 10%; 
  overflow: hidden;
  border-radius: 50%; 
}

.Borde-logo {
  width: 100%; 
  height: auto; 
  display: block;
}

.Footer {
  background-color: #061161;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0px;
}

/*responsive*/

@media screen and (max-width: 768px) {
  .Logo-contenedor {
    width: 50%;
    height: 50%;
    margin: 0 auto; 
  }

  .Borde-logo {
    width: 100%;
    height: auto;
    display: block;
  }

  .Titulo {
    font-size: 1.2rem;
  }
  
  .App {
    padding-top: 10px;
  }

  .Boton {
    margin: 10px; 
  }

  .Flex {
    flex-direction: row; 
  }

  .Footer {
    font-size: 0.8rem;
  }
}
